{{> dashboard}}
<h2>Welcome {{username}}</h2>
<img src="{{path}}" width="200" height="200"/><br/>
<footer class="bg-dark shadow">
<p class="py-3 text-center mt-5 text-white">Copyright &copy; All Right Reserved</p>
</footer>