<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Welcome {{email}}</h2>
    <h3>You are registered</h3>
    <h5>To activate your account</h5>
    <a href="http://localhost:7777/users/activateaccount/{{id}}">Click Here</a>
  </body>
</html>