{{> dashboard}}
<div class="container">
    <h1>Order has been placed successful</h1>
     <div class="alert alert-success"> you will receive notification by email with order details</div>
     <a href="/users/menus"><button class="btn btn-dark">Go an order some more</button></a>
</div>