<main class="container bg-light px-5 py-5 mb-5">
  <h1 class="lead" style="font-size: 90px;">Pizza delivery</h1>
  <h4 class="lead pb-2" style="font-size: 30px;">Welcome to pizza delivery
    service. This is the place when you may chose the most delicious pizza you
    like from wide variety of options!</h4>
  <hr style=" border : 2px solid" />
  <h6 class="pb-2" style="font-size: 25px;">We're performing delivery free of
    charge in case if your order is higher than 20$</h6>
  <p class="bg-dark Text-white text-center fs-3 p-1">Sign In and Order</p>
</main>