<nav class="navbar navbar-light bg-white mt-3 mb-4">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/static/images/images.png" alt="" width="90" height="90" />
    </a>
    <div class="d-flex">
      <a href="/users/signup"><button
          class="btn btn-outline-primary me-2"
          type="submit"
        >Sign up</button></a>
      <a href="/users/login"><button
          class="btn btn-outline-success"
          type="submit"
        >Login</button></a>
    </div>
  </div>
</nav>