//Footer
.text-center.text-white.bgimage.pt-5
  img(src='static/images/boy2.jpg' alt='' style='height: 70px; width:70px; border-radius: 50%')
  p.pt-2
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta consequatur sed, velit
    | numquam
    | provident, nisi ea praesentium 
    br
    |  sapiente,deserunt culpa perferendis! Tempora nihil illo aliquam
    |                     tenetur accusamus enim. Non, aspernatur.
  h5 BELL GRAHAM
  p.lead writer
  .container-fluid.pb-4
    .row
      .col.bg-primary.py-3.block
        strong
          i.bi.bi-facebook  Facebook
      .col.bg-warning.p-3.block
        strong
          i.bi.bi-instagram  Instagram
      .col.bg-danger.p-3.block
        strong
          i.bi.bi-twitter  Twitter
      .col.bg-info.p-3.block
        i.fa-brands.fa-pinterest
        i
          strong
            span  Pinterest
      .col.bg-dark.p-3.block
        strong
          i.bi.bi-whatsapp  Whatsapp
  img(src='static/images/logo.jpg' alt='' style='height: 50px; width:70px;')
  p.pt-3
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam adipisci sequi error eligendi quidem
    | architecto modi ipsum beatae debitis 
    br
    |  ipsa minus iure iste eum consectetur quasi voluptates
    |                     placeat, doloribus eveniet?
  img(src='static/images/visa.jpg' alt='' height='40px' width='40px')
  img(src='static/images/paypal.jpg' alt='' height='40px' width='40px')
  img(src='static/images/mc.jpg' alt='' height='40px' width='40px')
footer.text-center
  .text-center.p-3
    | &copy; 2022 Copyright:
    a(href='#' style='text-decoration: none; color:black;') Terms &amp; Conditions

  